# LIMPIEZA DE DATOS
## Importacion de librerias y carga del dataset

In [222]:
'''Importacion de librerias'''
import pandas as pd
import numpy as np

In [223]:
'''Carga del dataset'''
df=pd.read_csv("data_act_01.csv", sep= ';', encoding='latin-1')
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

## Primer Error

In [224]:

'''Mediante el uso del método isnull verificamos las columnas de nuestro dataset que tienen valores nulos '''
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

### Solución

In [225]:
''' Reemplazo do de valores  por cero'''
df[['City', 'Range','State']] = df[['City', 'Range','State']].fillna(value=0)
'''Impresion de 20 datos para verificar si los cambios son efectuados'''
df.head(20)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,0.0,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,0.0,Intersection
5,160913003,Ref'd,2016-03-31T00:00:00,18:29,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,0.0,Intersection
6,160913050,Homeless Complaint,2016-03-31T00:00:00,18:43,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,0.0,Intersection
7,160913056,Homeless Complaint,2016-03-31T00:00:00,18:47,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,0.0,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T00:00:00,18:52,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,0.0,Premise Address
9,160913103,Encampment,2016-03-31T00:00:00,18:57,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,0.0,Premise Address
10,160913118,Burglary,2016-03-31T00:00:00,18:59,2016-03-31T18:59:00,REP,400 Block Of Mission St,San Francisco,CA,1,0.0,Premise Address
11,160913148,Suspicious Person,2016-03-31T00:00:00,19:08,2016-03-31T19:08:00,GOA,700 Block Of Eddy St,San Francisco,CA,1,0.0,Premise Address
12,160913167,Ip,2016-03-31T00:00:00,19:13,2016-03-31T19:13:00,HAN,1700 Block Of Harrison St,San Francisco,CA,1,0.0,Common Location
13,160913193,Homeless Complaint,2016-03-31T00:00:00,19:18,2016-03-31T19:18:00,GOA,1800 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
14,160913249,Homeless Complaint,2016-03-31T00:00:00,19:37,2016-03-31T19:37:00,ADV,0 Block Of Elgin Pk,San Francisco,CA,1,0.0,Premise Address
15,160913265,Homeless Complaint,2016-03-31T00:00:00,19:40,2016-03-31T19:40:00,HAN,Vine Tr/pine St,San Francisco,CA,1,0.0,Intersection
16,160913266,Encampment,2016-03-31T00:00:00,19:41,2016-03-31T19:41:00,HAN,1600 Block Of 15th St,San Francisco,CA,1,0.0,Premise Address
17,160913285,Arrest Made,2016-03-31T00:00:00,19:49,2016-03-31T19:49:00,ARR,Jones St/golden Gate Av,San Francisco,CA,1,0.0,Intersection
18,160913298,Tent,2016-03-31T00:00:00,19:54,2016-03-31T19:54:00,ADV,100 Block Of South Van Ness Av,San Francisco,CA,1,0.0,Premise Address
19,160913309,Intoxicated Person,2016-03-31T00:00:00,19:57,2016-03-31T19:57:00,HAN,300 Block Of Ofarrell St,San Francisco,CA,1,0.0,Premise Address

'''La suma de valores nulos es 0 es decir se efectuaron los cambios'''
df.isnull().sum()

In [226]:
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,0.0,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,0.0,Intersection

In [227]:

df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
OffenseDate              0
CallTime                 0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
Range                    0
AddressType              0
dtype: int64

In [228]:
codigo=df['CrimeId']
crimen=df['OriginalCrimeTypeName']
fecha=df['OffenseDate']
hora=df['CallTime']
fecha_hora=df['CallDateTime']
disposicion=df['Disposition']
direccion=df['Address']
ciudad=df['City']
estado=df['State']
agencia=df['AgencyId']
rango=df['Range']
tipo_de_direccion=df['AddressType']

## Segundo Error

In [231]:
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,0.0,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,0.0,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,0.0,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,0.0,Intersection

In [233]:
'''Nos indica que solo existen valores numericos por ende la suma nos produce cero. 
Esto significa que tenemos una columna vacia por ende es necesario eliminarla'''
df['Range'].sum()

0.0

### Solución

In [235]:
'''Borrado de datos'''
del(df['Range'])

In [236]:
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection

In [212]:

#caracteristicas =['CrimeId','OriginalCrimeTypeName','OffenseDate','CallTime','CallDateTime','Disposition','Address','City','State','AgencyId','Range','AddressType']
#df['CrimeId'].sum()

1617601732297

## Solución

In [189]:
'''En el segundo error de la columna crimenes se realiza reemplazos de datos mal escritos'''
df['OriginalCrimeTypeName'].replace({"Agressive": "Aggressive"})
df['OriginalCrimeTypeName'].replace({"Cassing": "Casing"})
df['OriginalCrimeTypeName'].replace({"Drp": "Drop"})
df['OriginalCrimeTypeName'].replace({"Verbals": "Verbal"})

0         Assault / Battery
1        Homeless Complaint
2                 Susp Info
3                    Report
4                       594
                ...
10046      Well Being Check
10047          Traffic Stop
10048          Traffic Stop
10049          Passing Call
10050          Traffic Stop
Name: OriginalCrimeTypeName, Length: 10051, dtype: object

## Tercer Error

In [ ]:
##Solucion

## Cuarto Error

In [137]:
'''Muestra las filas y columnas de fecha y fecha y hora'''
df.loc[:, ['OffenseDate', 'CallDateTime']]

'''Se crea una funcion que permite mdificar el formato de la fecha y hora'''
df['OffenseDate'] = pd.to_datetime(df['OffenseDate'])

'''Se crea una funcion que permite mdificar el formato de la fecha y hora''''
df['CallDateTime'] = pd.to_datetime(df['CallDateTime'])

'''Creacion de una funcion para'''
df['CallTime']= pd.to_datetime(df['CallTime'], format='%H:%M:%S', errors='ignore')
df

SyntaxError: EOL while scanning string literal (Temp/ipykernel_6064/4209169826.py, line 7)

## Quinto  Error

## Sexto Error